<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все посты</title>
</head>
<body>
<h1>Все посты</h1>

<div th:each="post : ${posts}">
    <h2 th:text="${post.getText()}"></h2>
    <img th:src="@{/posts/{image}(image=${post.image})}" alt="Изображение поста" />
    <p>Автор:
        <span th:if="${post.getUser() != null}" th:text="${post.getUser().userName}"></span>
        <span th:if="${post.getUser() == null}" th:text="'Не указано'">Не указано</span>
    </p>
</div>

<a href="/posts/createPost">Создать пост</a>
</body>
</html>