<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список групп</title>
</head>
<body>
<header>
    <h1>Сообщества</h1>
    <nav>
        <ul>
            <li><a href="/communities">Все группы</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="create-community">
        <h2>Создать новую группу</h2>
        <form id="communityForm" action="/communities" method="POST">
            <label for="communityName">Название группы:</label>
            <input type="text" id="communityName" name="community_name" required>
            <label for="description">Описание:</label>
            <textarea id="description" name="description" required></textarea>

            <button type="submit">Создать группу</button>
        </form>
    </section>

    <section class="community-list">
        <h2>Список групп</h2>
        <ul>
            <th:block th:each="community : ${communities}">
                <li class="community-item">
                    <h3 th:text="${community.communityName}">Название группы</h3>
                    <p th:text="${community.description}">Описание группы</p>
                    <form th:action="@{/communities/{id}/join(id=${community.id})}" method="POST">
                        <button type="submit">Присоединиться</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </section>
</main>
</body>
</html>