<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Вход</title>
</head>
<body>
<h1>Вход</h1>
<form th:action="@{/auth/login}" th:object="${user}" method="post">
  <label for="userName">Логин:</label>
  <input type="text" id="userName" name="userName" required autocomplete="userName">
  <br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required autocomplete="current-password">
  <br>
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  <button type="submit">Войти</button>
  <div th:if="${errorMessage}">
    <p style="color:red;" th:text="${errorMessage}"></p>
  </div>
</form>
</body>
</html>