<!DOCTYPE html>
<html lang="">
<head>
    <title>Профиль</title>
</head>
<body>
<h1>Профиль</h1>
<form th:action="@{/profile}" th:object="${user}" method="post">
    <label>Имя пользователя:</label>
    <body>
    <label>
        <input type="text" th:field="*{userName}" required>
    </label>
    <br>
    <label>Email:</label>
    <label>
        <input type="email" th:field="*{email}" required>
    </label>
    <br>
    <div th:if="${emailExists}" th:text="${emailExists}"></div>
    </body>
</form>
<div th:if="${emailExists}" th:text="${emailExists}"></div>
</body>
</html>