<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
</head>
<body>
<h1>Профиль пользователя</h1>
<div id="user-info" class="user-info">
    <p>Имя: <span th:text="${user.firstName}"></span></p>
    <p>Фамилия: <span th:text="${user.lastName}"></span></p>
    <p>Имя пользователя: <span th:text="${user.userName}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Дата рождения: <span th:text="${user.birthdate}"></span></p>
    <p>Изображение профиля: <span th:text="${user.profilePicture}"></span></p>
</div>
<a href="/selectRecipient">В чат</a>
<br>
<a href="/posts/allPosts">Публичные сообщения</a>
<br>
<a href="/friends">Друзья</a>
<br>
<br>
<a href="/communities">Сообщества</a>
<br>

<button class="button" id="edit-button" onclick="showEditForm()">Редактировать</button>

<div id="edit-form" style="display:none;">
    <h2>Редактировать профиль</h2>
    <form th:action="@{/users/profile}" th:object="${user}" method="post">
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" /><br />
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" /><br />

        <label for="userName">Имя пользователя:</label>
        <input type="text" id="userName" th:field="*{userName}" /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" /><br />

        <label for="birthdate">Дата рождения:</label>
        <input type="date" id="birthdate" th:field="*{birthdate}" /><br />

        <label for="profilePicture">Изображение профиля:</label>
        <input type="text" id="profilePicture" th:field="*{profilePicture}" /><br />

        <button class="button" type="submit">Сохранить</button>
        <button class="button" type="button" onclick="cancelEdit()">Отменить</button>
    </form>
</div>

<script>
    function showEditForm() {
        document.getElementById('edit-form').style.display = 'block';
    }

    function cancelEdit() {
        document.getElementById('edit-form').style.display = 'none';
    }
</script>
</body>
</html>