<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выберите пользователя</title>
</head>
<body>
<h1>Выберите пользователя для чата</h1>
<form action="/messages" method="get">
    <select name="recipient">
        <option value="">--- Выберите пользователя ---</option>
        <th:block th:each="user : ${users}">
            <option th:value="${user.userName}" th:text="${user.userName}"></option>
        </th:block>
    </select>
    <button type="submit">Начать чат</button>
</form>
</body>
</html>